h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.weatherApp {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 40px auto;
}

.weatherAppWrapper {
    background-color: #F6E6CB;
    padding: 20px 20px;
    border-radius: 20px;
}

.currentIcon img {
    width: 100px;
    height: 100px;
}

.searchForm {
    background: #E7D4B5;
    border-color: #E3CDC1;
}

.form-control:focus {
    border-color: #F6E6CB;
    box-shadow: 0 0 0 0.2rem rgba(196, 127, 23, 0.25)
}

.searchButton {
    color: #F6E6CB;
    background: #A0937D;
    border-style: none;
}

.searchButton:hover{
    background: #E3CDC1;
}